# .gitignore
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
*.db
*.sqlite3
.DS_Store
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Variáveis de ambiente (Segurança)
.env

# IDEs e Sistema Operacional
.vscode/
.idea/
.DS_Store
Thumbs.db